@charset "UTF-8";

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to right,#3081F2,#2EACE8); 
}

h1{
    text-shadow: 1px 1px 3px rgb(179, 179, 179);
}

h1#principal{
    text-align: center;
    background-color: white;
    border-radius: 12px;
    text-shadow: 2px 2px 3px #2eade888;
}

p{
    text-align:justify;
}

.basico{
    color: rgb(84, 184, 75);
}  

.intermediario{
    color: rgb(204, 200, 81);
}

.avancado{
    color: rgb(184, 75, 75);
}

h2{
    text-shadow: 1px 1px 1px black;
}