@charset "UTF-8";

body{
    background-image: linear-gradient(to right, #DAFDBA,#9AEBA3)
}

main{
    background-color: white;
    border-radius: 10px;
    width: 600px;
    margin: auto;
    padding: 20px;
    box-shadow: 4px 4px 10px 1px #689b6e;
}

h1{
    text-align: center;
    color: #044e72;
    text-shadow: 2px 2px 10px #9AEBA3;
}

h2{
    color: #45C4B0;
}